page {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 28px;
  color: #1A1915;
  background-color: #F5F0EB;
}
